body {
    background-color: #F5ECE6;
    color: #42A6AD;
    font-family: 'Fredoka One', cursive;
}

h1 {
    font-size: 40px !important;
    margin-bottom: 21px !important;
}
nav {
    background-color: #42A6AD !important;
}
nav a {
    font-family: 'Fredoka One', cursive;
    color: #94F8FF !important;
}

.jumbotron {
    background-color: #42A6AD !important;
    color: #94F8FF !important;
    margin-top: 5px;
    padding: 60px;
    border-radius: 20px;
    border: 3px solid #B39179;
}

.jumbotron1 {
    background-color: #42A6AD !important;
    color: #94F8FF !important;
    margin-top: 70px;
    padding: 60px;
    border-radius: 20px;
    border: 3px solid #B39179;
}

@media (max-width: 576px) {
    #logo {
        margin-left: 33vw;
    }
}